<!doctype html>
<html ng-app="myApp">
<head>
    <style>
        .odd {
            background-color: #fafafa;
        }

        .even {
            background-color: silver;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div ng-controller="surveyController">
        <!--<button class="btn btn-default" ng-click="loadQuestions()">GetQuestions</button>
        <div class="form-inline">
            <input class="form-control" ng-model="text" placeholder="Название" />
            <input class="form-control" ng-model="price" placeholder="Цена" type="number" />
            <button class="btn btn-default" ng-click="addItem(text, price)">Добавить</button>
        </div>-->
        <h1 class="text-center">Hello!</h1>
        <form name="survey">
            <ul>
                <li ng-repeat="question in questions" ng-class="$odd ? 'odd' : 'even'">
                    <div ng-switch="question.type">

                        <div ng-switch-when="radiobutton">
                            <b> <span ng-bind="$index + 1"></span> . {{question.title}}</b>
                            <p ng-bind="question.context"></p>
                            <form action="">
                                <div ng-repeat="value in question.values">
                                    <div ng-switch="value">
                                        <div ng-switch-when="%UserInput%">
                                            <input type="radio"
                                                   name="{{question.title}}"
                                                   ng-model="question.selected"
                                                   ng-value="value"
                                                   ng-checked="(value == question.selected)">
                                            <input type="text"
                                                   name="{{question.title}}"
                                                   ng-model="question.userInput"
                                                   placeholder="Insert your option">
                                        </div>
                                        <div ng-switch-default>
                                            <input type="radio"
                                                    name="{{question.title}}"
                                                    ng-model="question.selected"
                                                    ng-value="value"
                                                    ng-checked="(value == question.selected)">
                                            <span ng-bind="value"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-switch-when="checkbox">
                            <b> <span ng-bind="$index + 1"></span> . {{question.title}}</b>
                            <p ng-bind="question.context"></p>
                            <span ng-repeat="value in question.values">
                                <div ng-switch on="value.value">
                                    <div ng-switch-when="%UserInput%">
                                        <input type="checkbox"
                                               name="{{question.title}}"
                                               ng-value="value.value"
                                               ng-model="value.selected"
                                               ng-checked="(value == question.default)">
                                        <input type="text"
                                               name="{{question.title}}"
                                               ng-model="value.userInput"
                                               placeholder="Insert your option">
                                    </div>

                                    <div ng-switch-default>
                                        <input type="checkbox"
                                               name="{{question.title}}"
                                               ng-value="value.value"
                                               ng-model="value.selected"
                                               ng-checked="(value == question.default)">
                                        <span ng-bind="value.value"></span>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div ng-switch-when="combobox">
                            <b> <span ng-bind="$index + 1"></span> . {{question.title}}</b>
                            <p ng-bind="question.context"></p>
                            <select ng-model="question.selected" ng-options="x for x in question.values"></select>
                            
                        </div>
                        <!--<button class="btn btn-default" ng-click="processItem(question)">Process</button>-->
                    </div>
                </li>
            </ul>
        </form>
        <button class="btn btn-default" ng-click="saveSurvey()">Save</button>
        <p>Your answers are:<br /></p>
        <div ng-bind-html="answers"></div>
        
    </div>
    <script src="js/lib/angular-1.6.4/angular.min.js"></script>
    <script src="js/lib/angular-1.6.4/angular-sanitize.min.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', ['ngSanitize'])
        .run(function ($rootScope) {
                
        });
        
    </script>
    <script src="js/controllers/surveyController.js"></script>
</body>
</html>