<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the default configuration  
		model introduced in .NET Framework 4 -->
      <service name="DataService.Implementation.SurveysService">
        <!-- This	 endpoint is exposed at the base address provided by host:                                        http://localhost/servicemodelsamples/service.svc  -->
        <!-- <endpoint address=""  binding="webHttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator" 
					behaviorConfiguration="DataService.Implementation.Service1AspNetAjaxBehavior" />  
					-->
        <endpoint address=""  binding="webHttpBinding" contract="DataService.Interfaces.ISurvey"
              behaviorConfiguration="DataService.Implementation.Service1AspNetAjaxBehavior" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49923/SurveysService/"/>
          </baseAddresses>
        </host>
        
        <!-- The mex endpoint is exposed at http://localhost/servicemodelsamples/service.svc/mex -->
        <!-- <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />  -->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DataService.Implementation.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>